@import 'colors';
@import 'general';

//***********Links stuff*******************
a:link, a:visited {
  text-decoration: none;
}

.navbar a:link, .navbar a:visited {
  color: #FFFFFF;
  font-size: 15px;
}
