@import 'assets/styles/colors';

.playlists-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  top: 65px;
}

.playlists-left {
  width: 220px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D8D8D8;
  overflow: auto;
  height: calc(100vw - 65px);
}

.button-container {
  width: 100%;
  border-bottom: 1px solid #D8D8D8;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  height: 10%;
}

.add-playlist-btn {
  align-self: center;
  background-color: $blue;
  border-radius: 2px;
  width: 140px;
  height: 30px;
  font-size: 13px;
  color: #FFFFFF;
  box-shadow: none;
  border: none;
}

.playlists-list {
  list-style: none;
}

.my-playlist {
  margin-bottom: 20px;
}

.playlists-right {
  width: 100%;
  overflow: auto;
  padding-bottom: 200px;
}

.no-playlists-saved {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

