@import 'assets/styles/colors';

.songs-li {
  width: 200px;
  height: 140px;
  border: 1px solid #D8D8D8;
  margin: 15px 25px;
  padding: 10px;
  position: relative;
}

.song-img {
  width: 200px;
  height: 85px;
  margin: 0 auto;

}

.fa-play-circle-o {
  position: absolute;
  top: 33px;
  left: 92px;
  display: none;
  color: #FFFFFF;
  font-size:44px;
}

.fa-pause-circle-o {
  position: absolute;
  top: 33px;
  left: 92px;
  color: #FFFFFF;
  font-size:44px;
}

.song-img:hover ~ .fa-play-circle-o {
  display: inline-block;
}
.fa-play-circle-o:hover {
  display: inline-block;
}

.song-img:hover {
  opacity:0.5;
}

.song-title, .song-duration {
  font-size: 11px;
  margin-top: 5px;
}

.duration-icon {
  margin-right: 5px;
}

.heart-container {
  position: relative;
  float: right;
}

.heart-icon {
  margin-top: 3px;
  font-size: 14px;
  color: #D8D8D8;

}

.heart-icon-full {
  margin-top: 3px;
  font-size: 14px;
  color: $blue;
}

.heart-icon:hover {
  color: #9B9B9B;
}

.song-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  box-shadow: 0 1px 4px 0;
  background-color: #FFFFFF;
  z-index: 10;
}

.song-dropdown h3 {
  font-size: 11px;
  color: #4A4A4A;
}

.song-dropdown h4 {
  font-size: 9px;
  color: $blue;
}

.song-dropdown label {
  display: block;
}



