@import 'assets/styles/colors';

.playlists-bar {
  width: 95%;
  height: 65px;
  box-shadow: 0 1px 1px 0;
  border: 1px solid #D8D8D8;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playlists-bar h2 {
  font-size: 22px;
  margin-left: 20px;
  position: relative;
}

.playlists-bar .playlist-length {
  display: inline-block;
  background-color: $blue;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.playlist-length {
  position: absolute;
  left: 100%;
  bottom: 3px;
}

.length-num {
  position: absolute;
  top: 8px;
  left: 11px;
  font-size: 18px;
}

.name-playlist-input:focus {
  outline: none;
  border: none;
  font-size: 18px;
  margin-left: 15px;
}

.playlists-bar .delete-btn {
  background-color: #fff;
  border: none;
  margin-right: 20px;
  color: red;
  font-weight: bold;
  font-size: 16px;
}

