@import 'assets/styles/colors';

.playlists-bar {
  width: 95%;
  height: 65px;
  box-shadow: 0 1px 1px 0;
  border: 1px solid #D8D8D8;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playlists-bar h2 {
  font-size: 22px;
  margin-left: 20px;
}
.playlists-bar .playlist-length {
  display: inline-block;
  background-color: #2196F3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.playlists-bar .length-num {

}
.playlists-bar .delete-btn {
  background-color: #fff;
  border: none;
  margin-right: 20px;
}
